

/* 	background-image: url("head.jpg");
	background-repeat: no-repeat;
	width: 70%;
    height: 800px;
	background-position: center top;
	position: absolute; */

h1{	
	top: 200px;
	text-align: center;
	font-family: calibri;
	color: white;
}

.box1
{
	background-image: url("americano.jpg");
	background-size: 100% 100%;
	border-radius: 4px;
	width: 290px;
	right: 25px;
	height: 140px;
	background-color: gray;
	border: 1px solid black;
	font-family: calibri;
	float: left;
	margin: 10px;
	padding: 15px;
	left: 25px;
	top: 80px;
	position: absolute;
	font-size: 15px;
}
.box2
{
	background-image: url("cappuccino.jpg");
	background-size: 50%;
	border-radius: 4px;
	width: 290px;
	height: 140px;
	background-color: gray;
	border: 1px solid black;
	font-family: calibri;
	float: center;
	margin: 10px;
	padding: 15px;
	left: 25px;
	right: 25px;
	top: 280px;
	position: absolute;
	font-size: 15px;
}
.box3
{
	background-image: url("espresso1.jpg");
	background-size: 35%;
	border-radius: 4px;
	width: 290px;
	height: 140px;
	background-color: gray;
	border: 1px solid black;
	font-family: calibri;
	float: left;
	margin: 20px;
	padding: 15px;
	left: 16px;
	right: 25px;
	top: 470px;
	position: absolute;
	font-size: 15px;
}
#chicken{
	width: 150px;
	text-align: center;
	background-color: pink;
	border: 1px solid black;
	font-family: calibri;
	padding-top: 0px;
	position: absolute;
	top: 0px;
	left: 168px;
	float: left;
}
#beef{
	width: 170px;
	color: white;
	text-align: center;
	background-color: red;
	border: 1px solid black;
	font-family: calibri;
	padding-top: 0px;
	position: absolute;
	top: 0px;
	left: 148px;
	float: center;
}
#sushi{
	width: 170px;
	text-align: center;
	background-color: yellow;
	border: 1px solid black;
	font-family: calibri;
	padding-top: 0px;
	position: absolute;
	top: 0px;
	left: 148px;
	float: center;
}
body {
	background-image: url("coffee.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;

/* nav {
	width: 100%;
	display: block;
	position: absolute;
	background-color: #a6430a; */
}


	
